/* noto-sans-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/noto-sans/noto-sans-display-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-display-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Display';
    font-style: normal; 
    font-weight: 600;
    src: url('../webfonts/noto-sans/noto-sans-display-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #e2d5b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

#header {
    font-family: "Noto Sans Display";
    font-weight: 600;
    font-size: 22px;
    padding: 10px;
}

#key_list {
    font-family: "Noto Sans Display";
    color: black;
    margin-top: 10px;
    font-weight: 400;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.key_list_item {
    background-color: #fff3e5;
    line-height: 1.6;
    padding: 10px 7px;
    color: #040F0F;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 5px;
    font-size: 16px;
    margin: 7px 0px;
}
